.dashboard {
  position: absolute;
  top: 15%;
  left: 21%;
  padding: 1rem;
  width: 79%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  text-align: center;
}
.card {
  padding: 1rem;
  width: 250px;
}
.approval {
  background-color: rgb(192, 158, 26);
  color: aliceblue;
}
.released {
  background-color: rgb(26, 102, 7);
  color: aliceblue;
}
.pending {
  background-color: rgb(202, 15, 15);
  color: aliceblue;
}
.processing {
  background-color: rgb(149, 202, 15);
  color: aliceblue;
}
.Tbudget {
  background-color: rgb(232, 13, 126);
  color: aliceblue;
}
